In [4]:
# schtock test
from stocker import Stocker

ModuleNotFoundError: No module named 'rebound'

In [2]:
import yfinance as yf

msft = yf.Ticker("MSFT")

# get stock info
msft.info

ModuleNotFoundError: No module named 'yfinance'

In [34]:
# get historical market data
hist = msft.history(period="max")
print(hist.iloc[7000])

Open                  32.01
High                  32.24
Low                   31.84
Close                 32.15
Volume          31734200.00
Dividends              0.00
Stock Splits           0.00
Name: 2013-12-16 00:00:00, dtype: float64

In [15]:
# show actions (dividends, splits)
msft.actions

            Dividends  Stock Splits
Date
1987-09-21       0.00           2.0
1990-04-16       0.00           2.0
1991-06-27       0.00           1.5
1992-06-15       0.00           1.5
1994-05-23       0.00           2.0
...               ...           ...
2019-02-20       0.46           0.0
2019-05-15       0.46           0.0
2019-08-14       0.46           0.0
2019-11-20       0.51           0.0
2020-02-19       0.51           0.0

[74 rows x 2 columns]

In [20]:
# show cashflow
msft.cashflow
msft.quarterly_cashflow

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [21]:


# show options expirations
msft.options

('2020-05-08',
 '2020-05-15',
 '2020-05-22',
 '2020-05-29',
 '2020-06-05',
 '2020-06-19',
 '2020-07-17',
 '2020-09-18',
 '2020-10-16',
 '2020-12-18',
 '2021-01-15',
 '2021-03-19',
 '2021-06-18',
 '2021-09-17',
 '2022-01-21',
 '2022-03-18',
 '2022-06-17',
 '2022-09-16')

In [22]:


# show ISIN code - *experimental*
# ISIN = International Securities Identification Number
msft.isin

'US5949181045'

In [23]:


# show next event (earnings, etc)
msft.calendar

                                    0                    1
Earnings Date     2020-07-16 00:00:00  2020-07-20 00:00:00
Earnings Average                 1.39                 1.39
Earnings Low                     1.35                 1.35
Earnings High                    1.51                 1.51
Revenue Average           36518400000          36518400000
Revenue Low               36053000000          36053000000
Revenue High              37210000000          37210000000

In [24]:


# show analysts recommendations
msft.recommendations

                      Firm       To Grade From Grade Action
Date
2012-03-16  Argus Research            Buy                up
2012-03-19  Hilliard Lyons  Long-Term Buy              main
2012-03-22  Morgan Stanley     Overweight              main
2012-04-03             UBS            Buy              main
2012-04-20   Deutsche Bank            Buy              main
...                    ...            ...        ...    ...
2020-04-30          Mizuho            Buy              main
2020-04-30     Wells Fargo     Overweight              main
2020-04-30             UBS            Buy              main
2020-04-30  Morgan Stanley     Overweight              main
2020-04-30       Citigroup        Neutral              main

[281 rows x 4 columns]

In [25]:
# show sustainability
msft.sustainability

                                     Value
2020-3
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                           9.87
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                         0
peerCount                              100
governanceScore                       5.24
environmentPercentile                    0
animalTesting                        False
tobacco                              False
totalEsg                             15.55
highestControversy                       3
esgPerformance                  UNDER_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                            7.96
peerGroup              Software & Services
smallArms                            False
environmentScore                      0.44
governancePercentile                     0
militaryContract                     False